<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/prp1_ss13/src/wagner_wendt__aufgabenblatt3/TestTamagotchi.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="wagner_wendt__aufgabenblatt3.TestTamagotchi"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="prp1_ss13"/>
</launchConfiguration>
